<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8" />

    <!-- Webpage Title -->
    <title>React + Redux Boilerplate</title>

    <!--
        Hosted CSS
    -->
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

    <!--
        Local CSS
    -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!--
        Hosted Scripts
    -->

     <!-- HTML5 Responsiveness for IE9 -->
    <!--[if lt IE 9]>
      <script defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
        Local Scripts
    -->
    <!-- Webpack Bundle(s) -->
  </head>

  <!-- Page Body -->
  <body>
    <div id="react-app"></div>
  </body>
</html>
