<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta property="csp-nonce" content="{{nonce}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8" />

    <!-- Webpage Title -->
    <title>React + Redux Boilerplate</title>

    <!--
        Hosted CSS
    -->
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

    <!--
        Local CSS
    -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!--
        Hosted Scripts
    -->

    <!-- HTML5/ES5+ for <IE9 -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.10/es5-shim.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.10/es5-sham.min.js"></script>

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-sham.min.js"></script>
    <![endif]-->

    <!--
        Local Scripts
    -->
    <!-- Webpack Bundle(s) -->
  </head>

  <!-- Page Body -->
  <body>
    <div id="react-app"></div>
  </body>
</html>
