.centered {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .centered-card {
        width: 100%;
    }
}

.middle-content {
    margin-left: 0;
    margin-right: 0;
    padding: 74px 15px;
}
